In [159]:
# Dependencies
import pandas as pd
from bs4 import BeautifulSoup
import requests
from splinter import Browser
from urllib.parse import urlsplit
import os 
import time

In [160]:

#                                    1-NASA Mars News

In [161]:
# path to chrome driver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [162]:
# URL of page to be scraped
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [163]:
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [164]:
# Retrieve page with the requests module
#response = requests.get(url)

In [165]:
# Create BeautifulSoup object; parse with 'html.parser'

#soup = BeautifulSoup(response.text, 'html.parser')

In [166]:
#Examine the results, then determine element that contains sought info
#print(soup.prettify())

In [167]:
#collect the latest news

results = soup.find('div',class_='content_title')
print(results)

<div class="content_title"><a href="/news/8433/for-insight-dust-cleanings-will-yield-new-science/" target="_self">For InSight, Dust Cleanings Will Yield New Science</a></div>

In [168]:
# collect the first news title
news_title = soup.find('div',class_='content_title').text
print("news_title:"+"  "+ news_title)

news_title:  For InSight, Dust Cleanings Will Yield New Science

In [169]:
news_p = soup.find('div', class_='article_teaser_body')
print(news_p)

<div class="article_teaser_body">Wind can be crucial to clearing dust from spacecraft solar panels on Mars. With InSight's meteorological sensors, scientists get their first measurements of wind and dust interacting "live" on the Martian surface.  </div>

In [170]:
#paragraph text for the lastest news 
news_p = soup.find('div',class_='article_teaser_body').text


print("news_p:"+" "+ news_p)

news_p: Wind can be crucial to clearing dust from spacecraft solar panels on Mars. With InSight's meteorological sensors, scientists get their first measurements of wind and dust interacting "live" on the Martian surface.

In [171]:
 
    #               2-JPL Mars Space Images - Featured Image (scrap the image url)

In [172]:

# path to chrome driver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [173]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [174]:
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [175]:
#featured_image_url = soup.find('article', style='background-image')
image_url = soup.find('article')['style']
print(image_url)

background-image: url('/spaceimages/images/wallpaper/PIA09113-1920x1200.jpg');

In [176]:
image_url1 = image_url.replace("background-image: url('","")
image_url1

"/spaceimages/images/wallpaper/PIA09113-1920x1200.jpg');"

In [177]:
image_url2 = image_url1.replace("');","")
image_url2

'/spaceimages/images/wallpaper/PIA09113-1920x1200.jpg'

In [178]:
featured_image_url = f'https://www.jpl.nasa.gov{image_url2}'
print('featured_image_url = '+ featured_image_url)

featured_image_url = https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA09113-1920x1200.jpg

In [179]:

#     3- Mars Weather

In [180]:
# path to chrome driver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [181]:
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [182]:
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [183]:
weather = soup.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text').text
weather

'InSight sol 158 (2019-05-07) low -99.7ºC (-147.5ºF) high -21.8ºC (-7.2ºF)\nwinds from the SSE at 4.8 m/s (10.7 mph) gusting to 13.6 m/s (30.4 mph)\npressure at 7.50 hPapic.twitter.com/8SrPjAhpGZ'

In [184]:
mars_weather = weather.replace("hPapic.twitter.com/8SrPjAhpGZ","")
mars_weather

'InSight sol 158 (2019-05-07) low -99.7ºC (-147.5ºF) high -21.8ºC (-7.2ºF)\nwinds from the SSE at 4.8 m/s (10.7 mph) gusting to 13.6 m/s (30.4 mph)\npressure at 7.50 '

In [185]:
print('mars_weather ='+" " + mars_weather)

mars_weather = InSight sol 158 (2019-05-07) low -99.7ºC (-147.5ºF) high -21.8ºC (-7.2ºF)
winds from the SSE at 4.8 m/s (10.7 mph) gusting to 13.6 m/s (30.4 mph)
pressure at 7.50

In [186]:

    #                                 4- Mars Facts

In [196]:
url = "https://space-facts.com/mars/"

In [197]:
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [198]:
df = tables[0]
df.columns = ['', 'value']
df.set_index('', inplace=True)

df

                                              value

Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [199]:
# convert the table dataframe to html 
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n    <tr>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [200]:
#celan up the html table
html_table_clean = html_table.replace("\n","")
html_table_clean

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>value</th>    </tr>    <tr>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [31]:

#                           5- Mars Hemispheres

In [32]:
# path to chrome driver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [33]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [34]:
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [40]:
hemisphere_image_urls = soup.find_all('img',class_='thumb')



hemisphere_image_urls

[<img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png"/>,
 <img alt="Schiaparelli Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif_thumb.png"/>,
 <img alt="Syrtis Major Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/aae41197e40d6d4f3ea557f8cfe51d15_syrtis_major_enhanced.tif_thumb.png"/>,
 <img alt="Valles Marineris Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png"/>]

In [53]:
# Print all ten headlines
#tds = soup.find_all('td')
# A blank list to hold the headlines
#headlines = []
# Loop over td elements
#for td in tds:
    # If td element has an anchor...
    #if (td.a):
        # And the anchor has non-blank text...
        #if (td.a.text):
            # Append the td to the list
            #headlines.append(td)

In [ ]:
#relative_image_path = soup.find_all('img')[2]["src"]
   # sloth_img = url + relative_image_path